doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Tracker for the KH2FM Randomizer")
    link(rel="icon" href="img/tracker.png")
    title KH2FM Item Tracker
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet")
    script(src="js/utils.js")
    script(src="js/theme.js")
    // preload images so they appear faster on first visit
    each img in preloadImages
      link(rel="preload" href=`img/${img}` as="image")

  body
    main
      .grid
        each item, file in items
          .item(
            class=item.cls
            data-total=item.total
            data-group=item.group
          )
            img.icon(data-src=`${file}.png`)

            if item.total
              img.number

            if item.data
              img.nobody(src=`img/nobody/${item.data}.png`)

            if item.secondary
              if Array.isArray(item.secondary)
                img.secondary(
                  data-files=JSON.stringify(item.secondary)
                  class=item.secondaryClass
                )
              else
                img.secondary(
                  src=`img/${item.secondary}.png`
                  class=item.secondaryClass
                )

            img.cross(src="img/cross.png")

    include includes/footer.pug

    script(src="js/main.js")
    script(src="js/footer.js")
    script(src="js/co_op.js")
