doctype html
mixin switch(id)
  label.switch
    input(type="checkbox" id=id)
    span.slider

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Tracker for the KH2FM Randomizer")
    title KH2FM Item Tracker
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet")
    script(src="js/utils.js")
    script(src="js/theme.js")
    // preload images so they appear faster on first visit
    each img in preloadImages
      link(rel="preload" href=`img/${img}` as="image")

  body
    main
      .grid
        each item, file in items
          .item(
            class=item.cls
            data-total=item.total
            data-group=item.group
          )
            img.icon(src=`img/${file}.png`)

            if item.total
              img.number

            if item.data
              img.nobody(src=`img/nobody/${item.data}.png`)

            if item.secondary
              if Array.isArray(item.secondary)
                img.secondary(
                  data-files=JSON.stringify(item.secondary)
                  class=item.secondaryClass
                )
              else
                img.secondary(
                  src=`img/secondary/${item.secondary}.png`
                  class=item.secondaryClass
                )

    footer
      .container
        .info Kingdom Hearts 2 Final Mix Item Tracker - Version 1.3.7 (Televo's Build)
        .buttons
          .popup
            button About
            .content
              .body
                p This is a tracker intended for use with the 
                  a(href="https://randomizer.valaxor.com" target="_blank") Kingdom Hearts 2 Final Mix Randomizer
                  |  by Valaxor, for the 
                  a(href="https://docs.google.com/document/d/1GYjEnrM_TIk7qyO75clPLYD-_nP5wTR7K6SE-Wn-QCg/edit" target="_blank") Garden of Assemblage (GoA) Mod
                  |  by Sonicshadowsilver2.
                p It allows the tracking of progress such as world completion, drive forms, magic, etc. For a more detailed explanation, see Help.
                p It was initially developed by Kokemon198, however has since largely been rewritten by Zax with an entirely different codebase. This alternate version was primarily made by Televo.
                p The GitHub repository with the original code for this site can be found 
                  a(href="https://github.com/zaxutic/kh2fm-rando-tracker" target="_blank") here
                  | .
                p If you have any questions/issues regarding this alternate version specifically, ping Televo or Zax in the <a href="https://discord.gg/GcJR7Fv" target="_blank">KH2FM Rando</a> Discord server, Twitter (<a href="https://twitter.com/z_ax__" target="_blank">@Z_ax__</a>), or GitHub.

          .popup
            button Help
            .content
              .body
                h3 Left Click
                p The item will become activated, lighting up to full opacity.
                p When clicking on a world more than once, if applicable, a number will appear in the bottom right indicating how many visits have been completed. Drive, magic, and summons have similar systems for levels.
                p After all visits have been completed, clicking again will either trigger a symbol to appear in the top left, for defeat of the Data Org/Absent Sillhouette fight, or reset the cell back to its original state.
                p.footnote Note: 'Visits' for Atlantica/100 Acre Wood represent not whole world completion but segment completion. That is, song completion for Atlantica (including the tutorial), and pages for 100 Acre Wood.
                p.footnote Note: When clicking on Sora's Level the counter will increase in increments of +1 from LV1-15, then +5 from LV15-50 and +10 from LV50-99.

                h3 Right Click
                ul.definitions
                  li
                    .base Hollow Bastion
                    .definition Defeated Sephiroth
                  li
                    .base Olympus Coliseum
                    .definition Cleared Pain and Panic Cup, Cerberus Cup, Titan Cup, Goddess of Fate Cup, Hades Paradox Cup
                  li
                    .base Disney Castle
                    .definition Defeated Lingering Will/Terra
                  li
                    .base The World That Never Was
                    .definition Defeated Roxas, Xigbar, Luxord, Saïx, Xemnas
                  li
                    .base Cavern of Remembrance
                    .definition Cleared Depths, Mining Area, Engine Chamber, Transport to Remembrance
                  li
                    .base 100 Acre Wood
                    .definition Torn Page Counter
                  li
                    .base Drive Forms
                    .definition Growth Ability Counter
                  li
                    .base The Three Proofs
                    .definition Obtained Bronze Crown, Silver Crown, Gold Crown

                h3 Middle Click
                p A red cross will be put over the item, intended to be used if a world/item is disabled in the seed.

          .popup
            button Co-op
            .content
              .body
                p.footnote This hasn't been rigorously tested yet. Use at your own risk.

                h2 Join Room
                form#co_op_join
                  .row
                    input.long(placeholder="Room ID")
                    button(type="submit") Join Room

                h2 Create Room
                form#co_op_create
                  .row
                    input.long(placeholder="Room Size")
                    button(type="submit") Create Room

                .row
                  p#room_id

                .row
                  p.footnote Note: Everyone should join the room BEFORE doing anything on the tracker as the server doesn't save anyone's state, it only tells others what you add to it.

                h2 Display Settings
                .row
                  p Columns
                  input#co_op_columns(placeholder="2")

          .popup
            button Settings
            .content
              .body
                .row
                  p Dark Theme
                  +switch("theme")

                .row
                  p Scroll Wheel Increment/Decrement
                  +switch("scroll")

                .row
                  p Custom Grid Columns
                  input#columns(placeholder="5")

                .row
                  p Background
                  input#background.long(placeholder="#212121")

                .row
                  p.footnote To use an image for background, use a link: 
                    code url(https://...)

                .row
                  p Lower Atlantica/100 Acre Wood Total
                  +switch("atlantica_100_acre")

                .row
                  p.footnote By default the Atlantica tutorial and Pooh's House are included in the total. This removes them, reducing the total from 6 to 5.

                .row
                  p.footnote Note: In some browsers, using the tracker as a local file may not allow settings to persist across sessions

    script(src="js/main.js")
    script(src="js/footer.js")
    script(src="js/co_op.js")
