doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Kingdom Hearts 2FM Item Tracker
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
    script(src="js/theme.js")

  body
    .grid
      each item, name in worlds
        .item(data-total=item.total)
          img.icon(
            src=`img/worlds/${name.toLowerCase()}.png`
            alt=name
            title=name
          )

          if item.total > 1
            img.number

          unless item.noData
            img.nobody(src=`img/nobody.png`)

          if item.secondary
            img.secondary(src=`img/secondary/${item.secondary}.png`)

      each drive in drives
        .item(data-total=7)
          img.icon(
            src=`img/drive/${drive.toLowerCase()}.png`
            alt=`${drive} Form`
            title=`${drive} Form`
          )
          img.number
          img.secondary.drive(src=`img/secondary/triangle.png`)

      each item, name in other
        .item(data-total=item.total)
          img.icon(
            src=`img/${item.file}.png`
            alt=name
            title=name
          )
          img.number

    footer
      .container
        .version Kingdom Hearts 2FM Item Tracker - Version 1.2.2 - Originally developed by Kokemon198, forked by Zaxuwu_
        .theme
          button#theme-btn Dark theme

    script(src="js/main.js")
