doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Tracker for the KH2FM Randomiser")
    title Kingdom Hearts 2FM Item Tracker
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet")
    script(src="js/theme.js")
    // preload images so the numbers appear faster on first visit
    link(rel="preload" href="img/numbers/1.png" as="image")
    link(rel="preload" href="img/numbers/2.png" as="image")
    link(rel="preload" href="img/numbers/3.png" as="image")
    link(rel="preload" href="img/numbers/4.png" as="image")
    link(rel="preload" href="img/numbers/5.png" as="image")
    link(rel="preload" href="img/numbers/6.png" as="image")
    link(rel="preload" href="img/numbers/7.png" as="image")

  body
    .grid
      each item, name in items
        .item(data-total=item.total)
          img.icon(
            src=`img/${item.file}.png`
            alt=name
            title=name
          )

          if item.total > 1
            img.number

          if item.data
            img.nobody(src="img/nobody.png")

          if item.secondary
            img.secondary(
              src=`img/secondary/${item.secondary}.png`
              class=item.secondaryClass
            )

    footer
      .container
        .info Kingdom Hearts 2 Final Mix Item Tracker - Version 1.2.5
        .buttons
          .popup
            button About
            .content
              .body
                p This is a tracker intended for use with the 
                  a(href="https://afresquet.github.io/kh2fm-randomizer" target="_blank") Kingdom Hearts 2 Final Mix Randomizer
                  |  by Valaxor, for the 
                  a(href="https://docs.google.com/document/d/1GYjEnrM_TIk7qyO75clPLYD-_nP5wTR7K6SE-Wn-QCg/edit" target="_blank") Garden of Assemblage (GoA) mod
                  |  by Sonicshadowsilver2.
                p It allows the tracking of progress such as world completion, drive forms, magic, etc. For a more detailed explanation, see Help.
                p It was initially developed by Kokemon198, however has since largely been rewritten by Zaxuwu_ with an entirely different codebase.
                p The GitHub repository with the code for this site can be found 
                  a(href="https://github.com/zaxutic/kh2fm-rando-tracker" target="_blank") here
                  | .
          .popup
            button Help
            .content
              .body
                p Clicking on any item in the grid will activate it, lighting it up to full opacity.
                p When clicking on a world more than once, if the world has multiple visits<sup>1</sup> then a number will appear in the bottom left indicating how many visits<sup>1</sup> have been completed. Drive forms and magic have similar numbering systems representing their level.
                p After all visits to the world have been completed then clicking it once more will either trigger a Nobody symbol in the top left, indicating defeat of the Data Org/Absent Sillhouette fight in that world, or simply reset the cell back to its original state, dimmed and with no numbers/other images.
                p Right-clicking on <em>Hollow Bastion</em> will toggle a Fenrir icon in the top right, representing completion of <em>Sephiroth</em>. Right-clicking on <em>Disney Castle</em> will toggle an icon of Lingering Will's keyblade, indicating completion of <em>Lingering Will/Terra</em>. Right-clicking on any of the <em>drive forms</em> will toggle a triangle icon in the top left, representing the relevant <em>auto ability</em> for that form. I.e. Auto Valor, Auto Wisdom, etc.
                p.footnote <sup>1</sup> Note that 'visits' has different definitions for regular worlds and Atlantica/100 Acre Wood. Visits for the latter represent not whole world completion but segment completion. That is, song completion for Atlantica (including the tutorial), and pages for 100 Acre Wood.
          .popup
            button Settings
            .content
              .body
                button#theme-btn Dark Theme
                span (I plan to add more settings soon)

    script(src="js/main.js")
