doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    title Kingdom Hearts 2FM Item Tracker
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
    script(src="js/theme.js")

  body
    .grid
      div
        img.icon(
          src="img/worlds/roxas_world.png"
          alt="Roxas World" title="Roxas World"
        )
        img.nobody(src="img/nobody.png")

      div(data-total="3")
        img.icon(
          src="img/worlds/twilight_town.png"
          alt="Twilight Town" title="Twilight Town"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="3")
        img.icon(
          src="img/worlds/hollow_bastion.png"
          alt="Hollow Bastion" title="Hollow Bastion"
        )
        img.number
        img.nobody(src="img/nobody.png")
        img.secondary(src="img/secondary/fenrir.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/the_land_of_dragons.png"
          alt="Land of Dragons" title="Land of Dragons"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/olympus_coliseum.png"
          alt="Olympus Coliseum" title="Olympus Coliseum"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/beast_castle.png"
          alt="Beast's Castle" title="Beast's Castle"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/port_royal.png"
          alt="Port Royal" title="Port Royal"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/agrabah.png"
          alt="Agrabah" title="Agrabah"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/halloween_town.png"
          alt="Halloween Town" title="Halloween Town"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/pride_lands.png"
          alt="Pride Lands" title="Pride Lands"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div
        img.icon(
          src="img/worlds/disney_castle.png"
          alt="Disney Castle" title="Disney Castle"
        )
        img.nobody(src="img/nobody.png")
        img.secondary(src="img/secondary/terra.png")

      div(data-total="2")
        img.icon(
          src="img/worlds/space_paranoids.png"
          alt="Space Paranoids" title="Space Paranoids"
        )
        img.number

      div
        img.icon(
          src="img/worlds/the_world_that_never_was.png"
          alt="The World That Never Was" title="The World That Never Was"
        )
        img.nobody(src="img/nobody.png")

      div(data-total="5")
        img.icon(
          src="img/worlds/atlantica.png"
          alt="Atlantica" title="Atlantica"
        )
        img.number
        img.nobody(src="img/nobody.png")

      div(data-total="6")
        img.icon(
          src="img/worlds/100_acre_wood.png"
          alt="100 Acre Wood" title="100 Acre Wood"
        )
        img.number

      div(data-total="7")
        img.icon(
          src="img/drive/valor.png"
          alt="Valor Form" title="Valor Form"
        )
        img.number
        img.secondary.drive(src="img/ability.png")

      div(data-total="7")
        img.icon(
          src="img/drive/wisdom.png"
          alt="Wisdom Form" title="Wisdom Form"
        )
        img.number
        img.secondary.drive(src="img/secondary/triangle.png")

      div(data-total="7")
        img.icon(
          src="img/drive/limit.png"
          alt="Limit Form" title="Limit Form"
        )
        img.number
        img.secondary.drive(src="img/secondary/triangle.png")

      div(data-total="7")
        img.icon(
          src="img/drive/master.png"
          alt="Master Form" title="Master Form"
        )
        img.number
        img.secondary.drive(src="img/secondary/triangle.png")

      div(data-total="7")
        img.icon(
          src="img/drive/final.png"
          alt="Final Form" title="Final Form"
        )
        img.number
        img.secondary.drive(src="img/secondary/triangle.png")

      div(data-total="3")
        img.icon(src="img/magic/fire.png" alt="Fire" title="Fire")
        img.number

      div(data-total="3")
        img.icon(
          src="img/magic/blizzard.png"
          alt="Blizzard" title="Blizzard"
        )
        img.number

      div(data-total="3")
        img.icon(
          src="img/magic/thunder.png"
          alt="Thunder" title="Thunder"
        )
        img.number

      div(data-total="3")
        img.icon(
          src="img/magic/cure.png"
          alt="Cure" title="Cure"
        )
        img.number

      div(data-total="3")
        img.icon(
          src="img/magic/reflect.png"
          alt="Reflect" title="Reflect"
        )
        img.number

      div(data-total="3")
        img.icon(
          src="img/magic/magnet.png"
          alt="Magnet" title="Magnet"
        )
        img.number

      div
        img.icon(
          src="img/proofs_promise/promise.png"
          alt="Promise Charm" title="Promise Charm"
        )

      div
        img.icon(
          src="img/proofs_promise/non-existent.png"
          alt="Proof of Nonexistence" title="Proof of Nonexistence"
        )

      div
        img.icon(
          src="img/proofs_promise/connections.png"
          alt="Proof of Connection" title="Proof of Connection"
        )

      div
        img.icon(
          src="img/proofs_promise/tranquil.png"
          alt="Proof of Tranquility" title="Proof of Tranquility"
        )

      div
        img.icon(
          src="img/charms/baseball.png"
          alt="Baseball Charm" title="Baseball Charm (Chicken Little)"
        )

      div
        img.icon(
          src="img/charms/lamp.png"
          alt="Lamp Charm" title="Lamp Charm (Genie)"
        )

      div
        img.icon(
          src="img/charms/ukelele.png"
          alt="Ukelele Charm" title="Ukelele Charm (Stitch)"
        )

      div
        img.icon(
          src="img/charms/feather.png"
          alt="Feather Charm" title="Feather Charm (Peter Pan)"
        )

      div(data-total="4")
        img.icon(
          src="img/cup.png"
          alt="Cup Tournaments" title="Cup Tournaments"
        )
        img.number

    footer
      .container
        .version 2020 - Kingdom Hearts 2FM Item Tracker - Version 1.2.1 - Originally developed by Kokemon198, forked by Zaxuwu_
        .theme
          button#theme-btn Dark theme

    script(src="js/main.js")
